@font-face {
    font-family: 'Kyselak';
    src: url('../fonts/kyselak/kyselak-webfont.woff2') format('woff2'), url('../fonts/kyselak/kyselak-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/yanonekaffeesatz/yanonekaffeesatz-bold-webfont.woff2') format('woff2'), url('../fonts/yanonekaffeesatz/yanonekaffeesatz-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/yanonekaffeesatz/yanonekaffeesatz-light-webfont.woff2') format('woff2'), url('../fonts/yanonekaffeesatz/yanonekaffeesatz-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/yanonekaffeesatz/yanonekaffeesatz-regular-webfont.woff2') format('woff2'), url('../fonts/yanonekaffeesatz/yanonekaffeesatz-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/yanonekaffeesatz/yanonekaffeesatz-thin-webfont.woff2') format('woff2'), url('../fonts/yanonekaffeesatz/yanonekaffeesatz-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
